.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    border: 2px solid #fff;
    padding: 1%;
    background-color: #242424;
    border-radius: 0.4rem;
}

.add-item-wrapper svg {
    transition: ease 0.4s;
}

.search-wrapper{
    display: flex;
    flex-direction: column;
}

.search{
    margin-top: 2%;
    width: 40%;
    margin-left: 8%;
    display: flex;
    gap: 2%
}

.search{
    margin-top: 2%;
    width: 70%;
    margin-left: 2%;
    display: flex;
    gap: 2%
}

.search-wrapper svg{
    padding: 1%;
    background-color: rgb(34, 193, 195);
    border-radius: 25%;
    cursor: pointer;
    transition: ease-in-out 0.35s;
}

.search-wrapper svg:hover{
    background-color: rgb(34, 123, 195);
    transform: translateY(-8%);
}

.search-results{
    margin-left: 4%;
    text-align: left;
}

.permited-users{
    width: 70%;
    margin: 2% auto;
}

.permited-user{
    text-align: left;
    display: flex;
    justify-content: space-between;
}